#viewer {
 	background-color: #EFEFEF;
	margin-top: 75px;
 	width: 1000px;
 	border-radius: 5px; 
 	height: 800px;
 	box-shadow: 2px 2px 5px rgb(0,22,50);
	margin-left: auto;
  	margin-right: auto;
	
}
body{
	background-size: 100%;
 	background-image:url('rochesterlogo.png');
 	background-repeat: no-repeat;
}

p{
	text-align: justify;
	padding-left: 10%;
	padding-right: 10%;
	font-size: 10pt;
}

.welcomeMessage{
	background-color: #4D4D4D;
	color: #CACACA;
	margin-left: 12%;
	margin-right: 12%;
	border-style: solid;
	border-radius: 10px;
	padding-top: 1%;
	padding-bottom: 8%;
	height = 100%;
}

.head{
	font-weight: bold;
	text-align: center;
}

#signature{
	font-size: 16pt;
	text-align: right;
	font-family: Brush Script MT, cursive;
}

.margins{
	float: left; 
	width: 16%;
	margin-left: 2px;
	margin-right: 2px;
	text-align: center;
}

img{
	text-align: center;
	max-width: 50px;
    max-height: 50px;
}

.transport{
	float: left;
	width: 50%;
	text-align:center;
	color: white;
	background-color: black;
	position:relative;
    z-index:5;
	
}

.transport li{
	float: left;
	margin-right:10px;
	position: relative;
	width: 100%;
}

.transport a{
	display: block;
	padding: 5px;
	color: #fff;
	background: #333;
	text-decoration: none;
	width: 100%;
}

.transport:hover{
	color: black;
	background-color: white;	
}

a:hover {
	color: white;	
}

.transport ul{
    background:#fff;
    background:rgba(255,255,255,0); 
    list-style:none;
    position:absolute;
    left:-9999px;
}

.transport ul li{
    padding-top:1px; 
    float:none;
}
.transport ul a{
    white-space:nowrap;
}
.transport:hover ul{
    left:70px; 
    color: white;

}
.transport:hover a{ 
    background:#6b0c36;
    text-decoration:underline;
    color: white;
}
.transport:hover ul a{
    text-decoration:none;
}
.transport:hover ul li a:hover{
    background:#333;
}

