#viewer {
 	background-color: #EFEFEF;
	margin-top: 75px;
 	width: 1000px;
 	border-radius: 5px; 
 	height: 675px;
 	box-shadow: 2px 2px 5px rgb(0,22,50);
	margin-left: auto;
  	margin-right: auto;
	
}
body{
	background-size: 100%;
 	background-image:url('rochesterlogo.png');
 	background-repeat: no-repeat;
}

p{
	text-align: justify;
	padding-left: 10%;
	padding-right: 10%;
	font-size: 10pt;
}

#welcomeMessage{
	background-color: #4D4D4D;
	color: #CACACA;
	margin-left: 15%;
	margin-right: 15%;
	border-style: solid;
	border-radius: 10px;
	padding-top: 5%;
	padding-bottom: 5%;
}

#head{
	font-weight: bold;
}
