 body {
	background-size: 100%;
 	background-image:url('rochesterlogo.png');
 	background-repeat: no-repeat;
 } 

 
 #login {
 	background-color: #EFEFEF;
 	width: 450px;
 	border-radius: 5px; 
 	height: 200px;
 	box-shadow: 2px 2px 5px rgb(0,22,50);

 }
 #buildingBackdrop{
 	background-color: #EFEFEF;
	margin-top: 35px;
 	width: 650px;
 	border-radius: 5px; 
 	height: 490px;
 	box-shadow: 2px 2px 5px rgb(0,22,50);
 }
 h1{
 	font-family: sans-serif;
	font-size: 28px !important;
	font-weight: normal;
 }
 
 #loginbutton {
 	margin-top: 30px;
 	display: block;
	width: 100px;
	height: 40px;
	border-radius: 8px;
	text-align: center;
	border: none;
	box-shadow: 2px 2px 5px gray;
	font-size: 21px;
	background-color: rgb(0,55,96);
	color: white;
	 
 }
 .loginForm{
 	height: 35px;
	width: 200px;
	font-size: 20px;
	padding-left: 7px;
 }
 
#pass{
	margin-top: 8px;
	margin-bottom: 0px;
	margin-right: 4px;
}
a {
    text-decoration: none !important;
}
img {
	width: 150px;
	height: 150px;
}
td{
	height: 150px !important;
	width: 170px !important;
}
.building{
	width: 150px;
	height: 23px;
	margin-bottom: 10px !important;
	margin-top: 5px;
	padding-top: 0px !important;
}

#head{
	margin-top: 5px !important;
	margin-bottom: 25px !important;
}
.overlay {
     visibility: hidden;
     position: absolute;
     left: 0px;
     top: 0px;
     width:100%;
     height:100%;
     text-align:center;
     z-index: 1000;
     background: rgba(255,255,255,.3);

}

.ov  {
   	width: 500px;
	margin: 100px auto;
	margin-top: 50px !important;
	height: 450px;
	background-color: #EBEBEB;
	border: 1px solid gray;
	padding: 25px;
 	box-shadow: 2px 2px 3px rgb(0,22,50);
	text-align: left;
	border-radius: 4px;
}
.ovSmall{
	height: 350px !important;
	margin-top: 110px !important;
}
.overlay:target {
	opacity:1;
	pointer-events: auto;
}
.close{
	text-align: right;
}
.description{
	font-size: 15px;
	text-align: left;

}
h2{
	margin-top: 0px !important;
	margin-bottom: 30px !important;
}