body {
	background-color: red;
}
.Navbar {
	background-color: white;
	margin-top: 50px;
	height: 75px;
}
.Viewer {
	background-color: blue;
	float: left;
	width: 68%;
	height: 550px;
}
.Floor {
	background-color: yellow;
	float: right;
	width: 32%;
	height: 75px;
}
.Rooms {
	background-color: green;
	float: right;
	width: 32%;
	height: 475px;
}

